.card__button {
    border: 1.5px solid #282828;
    height: 2.5rem;
    text-align: center;
    background: none;
    color: #282828;
    margin-left: 60%; 
}
.card__button:hover {
    background-color: #282828;
    color: whitesmoke;
    cursor: pointer; 
}